// css变量文件

// 通用字体大小定义
$font-xxxs =  12px
$font-xxs  =  14px
$font-xs   =  16px
$font-s    =  18px
$font-sm   =  20px
$font-m    =  22px
$font-l    =  24px
$font-xl   =  26px
$font-xxl  =  32px
$font-xxxl =  36px

// 通用颜色定义
$colorA = #ffffff
$colorB = #409eff
$colorC = #304156
$colorD = #bfcbd9
$colorE = #333333
$colorF = #1f2d3d
$colorG = #001528
$colorH = #97a8be
$colorI = #F56C6C
$colorJ = #8c939d