//  css3动画文件

@keyframes heroAlias 
  from 
    transform: translateX(-6rem)
  to 
    transform: translateX(0)
   

@keyframes heroName 
  from 
    transform: translateX(-8rem)
  to 
    transform: translateX(0)
   

@keyframes heroCate 
  from 
    transform: translateX(-10rem)
  to 
    transform: translateX(0)
   

@keyframes heroDiff 
  from 
    transform: translateX(-20rem)
  to 
    transform: translateX(0)
   

@keyframes heroSkill 
  from 
    transform: translateX(-30rem)
  to 
    transform: translateX(0)
   

@keyframes heroAttack 
  from 
    transform: translateX(-40rem)
  to 
    transform: translateX(0)
   

@keyframes heroSurvive 
  from 
    transform: translateX(-50rem)
  to 
    transform: translateX(0)