// 通用样式文件

// 单行文本省略
.text-ellipsis
  overflow: hidden
  white-space: nowrap
  text-overflow:ellipsis

// 清除浮动
.clearfloat
  zoom: 1
  &:after
    display: block
    clear: both
    content: ""
    visibility: hidden
    height: 0

// 边框圆角
.radius-small
  border-radius: 2px
.radius-medium
  border-radius: 4px
.radius-large
  border-radius: 36px
.radius-round
  border-radius: 50%