// 样式重置文件
html,body,div,span,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,input,
button,textarea,select,form,label,a,i,em,strong,audio,video,
table,thead,tbody,caption,tr,th,td,canvas
article,aside,footer,header,menu,nav,section
  margin: 0
  padding: 0
  outline: none
  border: none
  font-weight: normal

html
  font-size: 10px
  -webkit-tap-highlight-color: transparent
  -webkit-text-size-adjust: 100%

body
  font-family: "Helvetica Neue", Helvetica, STHeiTi, '\5FAE\8F6F\96C5\9ED1', sans-serif
  font-size: 1.2rem
  line-height: 1.5em 
  color: #333
  background-color: #f1f1f1
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, menu, nav, section
  display: block

audio, video, canvas
  display: inline-block

h1, h2, h3, h4, h5, h6
  font-weight: 700

strong
   font-weight: 700

i
  font-style: normal

table
  border-collapse: collapse
  border-spacing: 0

a
  color: #222
  text-decoration: none

a:hover
  color: #222 !important

ul, li
  list-style: none

input, textarea, select
  border-radius: 4px
  border: 1px solid #dcdfe6
  box-sizing: border-box
  background-color: #fff

input
  font: normal
  border: none

input:focus, a:focus
  outline: none

textarea
  resize: vertical
  border: none
  overflow: auto

select
  background-color: #fff

button
  background-color: #fff
  text-align: center
  cursor: pointer
  box-sizing: border-box