// 响应式样式

@media only screen and (max-width: 460px)
  html 
    font-size: 11px

@media only screen and (max-width: 415px)
  html 
    font-size: 10.5px

@media only screen and (max-width: 376px)
  html 
    font-size: 10px

@media only screen and (max-width: 321px)
  html 
    font-size: 9px

